﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>

<table style="width:150px;display:inline-block;font-weight:bold;" class="CompareList">                            
    <tr>                            
        <td>
            Document Type
        </td>
    </tr>                   
    <tr>                         
        <td>
            Passport Number
        </td>
    </tr>   
    <tr>                         
        <td>
            Surname
        </td>
    </tr>
    <tr>                            
        <td>
            First Name   
        </td>
    </tr>
    <tr>                            
        <td>
           Other Names 
        </td>
    </tr>
    <tr>                            
        <td>                                
            Date of Birth                             
        </td>
    </tr>    
    <tr>                            
        <td>
           Gender     
        </td>
    </tr>
    <tr>                          
        <td>
            Date of Issue
        </td>
    </tr>
    <tr>                            
        <td>
            Expiry Date
        </td>
    </tr>
    <tr>
        <td style="height:210px">
            Photo   
        </td>
    </tr>
    <tr>
        <td style="height:40px">
            Signature
        </td>
    </tr>
    <tr>                            
        <td>
            Issue Place
        </td>
    </tr>
    <tr>                            
        <td style="height:40px"> 
           Document Status                      
        </td>
    </tr>
    <tr>
        <td>
            &nbsp
        </td>
    </tr>
</table>
