﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html {    
    color: #333;
    font-size: .85em;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    min-height:100%;
    background: url(images/bg.jpg)
}

#wrapper {padding: 130px 0px 35px 0px; margin: 0; position:absolute; top:0; bottom:0; left:0; right:0; }

header 
{
    margin-top:-130px !important; 
    height:130px; 
    position: relative; 
    margin: 0px auto;
}

footer 
{
    margin-bottom:-30px; 
    border-top: 1px solid #ccc;
    height: 30px; 
    margin: auto;
    width: 960px;
}

footer div{
    width: 960px;
    margin: 0px auto;
    background-color: #005200;
    color: white;
}
 

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #8fd9e1;
}

a.actionlinkbutton
{
    display:inline-block;       
    background-color:#005200;
    color:White;
    font-size:115%;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    text-align:center;        
    line-height:36px;
    min-width:100px;
}

.Button
{
    background-color:#005200;
    color:White;
    font-size:115%;    
    text-align:center;
    line-height:36px;    
    width:auto;
    min-width:100px;
    display:inline-block;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    margin-left: auto;
    margin-right: auto;    
}



#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{   
    display:block;
    float:left;
    padding: 10px 10px;    
    text-decoration: none;
    line-height: 2.8em;    
    color: white;
    height: 50px;    
    background-color:#058E05;        
}

#MainContent
{
    text-align:left;
    vertical-align:top;  
    overflow: hidden;     
    white-space:nowrap;  
    height:100%;   
}

.SmallText
{
   font-size: 7px !important;
   line-height: 10px !important;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 0px;
    padding: 0 0 0px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline-block;
    list-style: none;
    font-size: 11px;
    line-height: 2.8em;
    height: 2.8em;
    max-width: 200px;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{  
    width: 170px;
    font-weight: normal;
    text-decoration: none;
    background-color: #8fd9e2;
    color: white;
    display: inline-block;  
    line-height: 2.8em;
    vertical-align: top;
    text-align: center;
    height: 2.8em;
}

ul#menu li a:hover
{   
    font-weight: normal;
    background-color: #1266A4;
}

ul#menu li a:active
{   
    font-weight: normal;    
}

ul#menu li.selected a
{
    font-weight: bold;
    background-color: #1266A4;
}

#message
{
    font-size: 1.0em;
    font-weight: bold;
    color: White;
    padding-top: 20px;
    padding-left: 10px;
}

/* Left Hand Accordion Menu  
----------------------------------------------------------*/

div#leftmenu
{   
    background-color:#058e05;
}

div#MenuSpaceDiv
{   
    background-color:orange;
    height:20px;
}

.leftmenu
{
    width: 140px;      
    background-color:white;
    font-size: 100% !important;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif !important;
    color: #Gray !important;
}

.leftmenuheader
{
    padding: 5px 5px !important;
    font-weight: bold;
    height:18px;
    text-decoration: none !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: solid 1px #005200;
    border-left: solid 1px #005200;
    border-right: solid 1px #005200;    
    color: white !important;    
    background-color:#005200;
    display:block;
    cursor:default;
}

.leftmenucontent
{
    padding: 1px 1px;
    font-size: 93%;
    text-decoration: none !important;  
    color: #494b44 !important;    
    border: solid 1px #005200;
    border-top: 0;
    width: 136px;    
    background-color:white;
    display:block;    
    box-shadow: 5px 5px 5px #888888;
}

.leftmenu div a
{
    padding: 1px 1px;
    font-size: 93%;
    text-decoration: none !important;   
    color: #494b44 !important;
    width: 134px;    
    background-color: silver;
    display:block;
}

.leftmenu div a:hover
{
    padding: 0px 0px;
    font-size: 93%;
    text-decoration: none !important;
   
    color: #494b44 !important;
    width: 135px;    
    background-color: #6ea46e;
    display:block;
}

.siteFooter
{
    padding:0px;
    border-width:0px;
}

.logincontent
{    
    font-size: 93%;
    text-decoration: none;
    line-height: 2.0em;    
    color : #daded8;
    width: 140px;    
    background-color:white;
    display:block;
    box-shadow: 5px 5px 5px #888888;
}

.logincontent label
{
    padding:  0px 0px 0px 0px;
}

.logincontent a
{    
    padding: 0px 0px 0px 5px;
    font-size: 100%;
    text-decoration: none;
    color: #494b44;    
    width: 140px;
    display:inline-block;
}

.logincontent a:hover
{    
    padding: 0px 0px 0px 5px;
    font-size: 100%;
    text-decoration: none;
    color: white;
    background-color:#6ea46e;
    display:inline-block;
    width: 131px;
} 

.logincontent hr
{
     color: white;
     height: 1px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
    font-size:95%;
}

input[type="submit"] 
{
    background-color:#005200;
    color:White;
    font-size:115%;
    line-height:35px;
    text-align:center;        
    min-width:100px;    
}

input[type="button"] 
{
    background-color:#005200;
    color:White;
    font-size:115%;
    line-height:35px;
    text-align:center;        
    min-width:100px;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
    font-size:95%;
}

select
{
    font-size:95%;
}

/* TABLE
----------------------------------------------------------*/

table 
{
    border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	padding:0px 0px 0px 0px;	
	
}

table td 
{
    border-width: 0px;
	padding:0px 0px 0px 0px;
	border-style: none;
	border-color: gray;
	height:10px;
}

table th 
{
  padding:0px 0px 0px 0px;
  text-align: center;    
  color: Black;
  font-weight:bold;    
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.labelimportant
{
    color:Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
    background-color:transparent;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
    background-color:transparent;
}

.text-box
{
    width: 30em;    
}

.text-box.multi-line
{
    height: 6.5em;    
}

.tri-state
{
    width: 6em;
}

#NoSpaceTable td 
{
    border-width: 0px;
	padding-left: 0px;
	padding-top:5px;
	border-style: none;
	border-color: gray;
	background-color: white;	
}

#PageMainContent
{
    width: 100% !important;
}

#PageMainContent th
{   
    padding: 10px 5px;
    font-size: 15px;
    color: #005200;
    background-color:#f4f4f4;
    font-weight:bold;    
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px; 
	-khtml-border-radius:  5px 5px 0px 0px; 
	border-radius: 5px 5px 0px 0px; 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 

}

.PageContentHeader
{
    padding: 10px 5px;
    font-size: 15px;
    color: #005200;
    background-color:#f4f4f4;
    font-weight:bold;    
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px; 
	-khtml-border-radius:  5px 5px 0px 0px; 
	border-radius: 5px 5px 0px 0px; 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);     
}

.InnerContent
{
    width:100%;
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
    padding: 5px 0px 5px 10px; 
    overflow-x: auto;   
    border-left-width: 1px;
    border-left-color:#c1cdc1;
    border-left-style:solid;
    
    -moz-border-top-left-radius: 5px; 
    -webkit-border-top-left-radius: 5px; 
	-khtml-border-top-left-radius:  5px; 
	border-top-left-radius: 5px; 
}

.InnerContent td
{
    border-width: 0px;	
	border-style: none;	
	line-height: 20px; 
	font-size: 12px; color: #333;
	padding: 5px 0px 2px 15px; 	
}

.ListPadding td
{
	padding: 3px 3px 1px 10px !important; 	
}

/* To Style the length of a select in a named div
----------------------------------------------------------*/
#FixedWidthBox select
{
   width : 150px;
}

.roundedTop
{
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px; 
	-khtml-border-radius:  5px 5px 0px 0px; 
	border-radius: 5px 5px 0px 0px; 
}

.RowHeader
{
    font-weight:bold; 
    width: 170px;
}

#CaptchaImage
{
    border-width:thin;
    border-color:Black;
    border-style:solid;
}

.space { height: 15px }
.mainlogo
{
    background: url(images/header2.jpg);
    width: 960px;
    height:130px;
    position: relative;
    margin: 0px auto;
}

.logoheader
{
    position:absolute;
    right: 160px;
    top: 94px;
    font-family: Cambria;
    font-size: 25px;
    color: #f4f4f4;
}

.coatofarms
{
    position: absolute;
    background: url(images/coatofarms.png);
    right: 10px;
    top: 39px;
    height: 85px;
    width: 100px;
}

.content
{
    margin: 0px auto;
    padding-top: 10px;
    width: 960px;
    background-color: white;
    height: 100%;
}

.footernote
{
    text-align: center;
    line-height: 34px;
}

.shadow
{ 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}

.leftSide
{
    height:100%;
    float: left;
    width: 185px;
    padding-left: 5px;
    padding-right:4px;
}

.rightSide
{
    float:left;
    width: 755px;
    padding: 0px 0px 10px 0px;
}

.optionbox{
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin: 0px 5px 20px 5px;
}

.optionboxheader
{
    padding: 8px 8px 8px 10px;
    margin-bottom: 5px;
    font-size: 13px;
    color: white;
    width: 156px; 
    background-color: #005200;
}

.optionboxoption a
{
    color: #333;
    padding: 5px 5px 5px 5px;
    font-size: 11.5px;
    cursor: pointer;
    text-decoration: none;     
}

.optionboxoption a:hover{
    color: #369;
}

.rightHeader
{
    padding: 15px 10px;
    font-size: 18px;
    color: #005200;
    background-color:#f4f4f4;
    font-weight:bold;
}

.rightHeadersmaller
{
    padding: 8px 10px;
    font-size: 14px;
    color: #005200;
    background-color:#f4f4f4;
    font-weight:bold;
}

.rightContent
{
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 20px;
}

.ListHeader
{    
    font-size: 12px !important; 
    color: Black !important; 
    font-weight:bold !important;     
}

.MenuItem
{
    padding: 1px 1px 5px 2px;
    font-size: 9px !important; 
}

.ui-datepicker-calendar
{
    background-color:White;    
}

#dialog-LoginError
{
   font-size: 11px !important;   
}

.CompareList
{   	
	font-size: 11px !important;
	padding: 4px 0px 2px 10px !important; 	 
}

.VerticalText 
{
    -moz-transform: rotate(270deg); 
    -o-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);	
}

#needhelpdiv
{
    width:150px;
    height:35px;
    background-color:#005200;   
    -moz-transform: rotate(270deg); 
    -o-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
        
    -moz-transform-origin:bottom right;
    -ms-transform-origin:bottom right;
    -webkit-transform-origin:bottom right;
    transform-origin:bottom right;
        
    padding-top:5px;
       
    color:white !important;
    text-align:center;
    vertical-align:middle;     
    float:right;
    
    -moz-border-radius: 5px 5px 0px 0px; 
    -webkit-border-radius: 5px 5px 0px 0px; 
	-khtml-border-radius:  5px 5px 0px 0px; 
	border-radius: 5px 5px 0px 0px; 
}

#needhelpbanner
{
    height:35px;
    text-align:center;
    vertical-align:middle;
}



